.DS_Store
*.tfrecord
*.h5
*.h5
*.h5
*.pyc
*.sh
shotvae/logs/cifar10_4000/etc
shotvae/backup
partedvae/logs/cifar10_4000/etc
partedvae/logs/mnist_100/etc
partedvae/mnist/etc
proposal
semi
full
parted-vae-main
dgm/result_.py
partedvae/result_.py
shotvae/result_.py

data
wandb
wandb_api.txt
artifacts
*.pth

etc
causal_data
MNIST
tmp_image_*
celeba
smile_linscm_supce
age_linscm_supce